<h1>New Career</h1>



<%= link_to 'Back', careers_path %>

<div>
<%= form_for @career do |f| %>
  <div class="input-field col s12">
    <%= f.label "Title" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit "Create Career", class: '' %>
  </div>
<% end %>
</div>
