<!DOCTYPE html>
<html>
  <head>
    <title>Project4New</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- Fixed header throughout site -->
    <%= render 'layouts/header' %>

  <!-- <nav class="navbar navbar-default navbar-fixed-top">
  </nav> -->

    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <%= yield %>
  </body>
</html>
