<p id="notice"><%= notice %></p>






<li><div class="row", class="flex-item"></li>
  <div class="col s12 m6 container">
<h1>Careers</h1>
        <% @careers.each do |career|%>
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"><%= career.title %></span>
        <p><%= career.city %></p>
        <p><%= career.content %></p>
      </div>
      <div class="card-action">
        <a><%= link_to 'Show', career %></a>
        <a><%= link_to 'Edit', edit_career_path(career) %></a>
        <a><%= link_to 'Destroy', career, method: :delete, data: { confirm: 'Are you sure?' } %></a>
      </div>
    </div>
        <% end %>
        <%= link_to 'New Career', new_career_path %>

  </div>

</div>
