<p id="notice"><%= notice %></p>
<h1><%= @career.title %></h1>
<p><%= @career.city%></p>
<p><%= @career.content%></p>
<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>
