<nav class="navbar">
  <div class="navbar-title-container">
<!-- New -->
<a href="#!" class="brand-logo"></a>
<ul class="nav-mobile" class="right">
  <li><a href="sass.html"></a></li>
  <li><a href="badges.html"></a></li>
  <li><a href="collapsible.html"></a></li>
  <!-- <li><a href="" class=btn target="_blank"></a></li> -->
</ul>

    <div class="navbar-title"><%= @title %></div>
    <div class="navbar-subtitle"><%= @subtitle %></div>
  </div>
<!-- Old nav tag ended here -->
<!-- new -->
<div class="navbar-right">
<ul>
  <li><%= link_to "Edit User", edit_user_registration_path, class: "btn btn-default navbar-btn" %></li>

  <li><%= link_to "Sign Out", destroy_user_session_path, method:"delete", class: "btn btn-default navbar-btn" %></li>

  <li><%= link_to "Sign Up", new_user_registration_url, class: "btn btn-default navbar-btn" %></li>

  <li><%= link_to "Sign In", new_user_session_path, class: "btn btn-default navbar-btn" %></li>

  <li><%= link_to "New Career", new_career_path, class: "btn btn-default navbar-btn" %></li>

<li><%= link_to "Home", user_path, class: "btn btn-default navbar-btn" %></li>
</ul>
</div>
</nav>
